/* Start page */

.start .main__content {
  padding-top: 46px;
  background-image: url("../images/bg-start.png");
}

@media screen and (min-width: 500px) {
  .start .main__content {
    padding-top: 75px;
  }
}

.start .main__content .items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(16px, 5vw, 20px);
  height: 100%;
  padding: 15px;
  overflow-y: auto;
}

.start .main__content .items .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 14px 25px;
  border-radius: clamp(16px, 5vw, 38px);
  border: 1px solid #b07083;
  background: #fff2dc;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25), 0px 2px 1px 0px #fff inset,
    0px -6px 2px 0px #eda8ab inset;
  text-align: center;
}

.start .main__content .items .item h4 {
  color: #944d2a;
  font-size: clamp(16px, 5vw, 26px);
  line-height: 1;
}

.start .main__content .items .item p {
  margin-bottom: 4px;
  color: #944d2a;
  font-size: clamp(10px, 5vw, 20px);
  line-height: 1.2;
}

.start .main__content .items .item .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6px 5px;
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 2;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.4);
  font-size: clamp(14px, 5vw, 24px);
}

.start .main__content .items .item .btn img {
  width: clamp(18px, 5vw, 28px);
  height: clamp(20px, 5vw, 30px);
  object-fit: contain;
}

.start .main__content picture {
  height: auto;
}

.progress {
  position: relative;
  width: 100%;
  border: 1px solid #c08593;
  background: #db9eaa;
  box-shadow: 0px 1px 1px 2px rgba(0, 0, 0, 0.25) inset;
  border-radius: clamp(16px, 5vw, 26px);
  height: clamp(33px, 8vw, 45px);
}

.progress__inner {
  position: absolute;
  top: 3px;
  left: 2px;
  width: calc(9 / 25 * 100%);
  transform: translateY(-1px);
  background-color: #5cd5eb;
  height: clamp(20px, 7vw, 40px);
  border-radius: clamp(20px, 5vw, 30px);
  border: 1px solid #0c6a00;
  background: linear-gradient(180deg, #8efb53 0%, #13a408 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 6px 4px 0px rgba(246, 255, 143, 0.4) inset,
    0px -6px 6px 0px rgba(105, 12, 74, 0.25) inset;
}

.progress__value {
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 2;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.4);
  font-size: clamp(16px, 5vw, 30px);
}
