/* Wait page */

.wait .main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: clamp(5px, 5vw, 10px) clamp(15px, 5vw, 30px) clamp(10px, 5vw, 20px);
  background-image: url("../images/main-bg-2.webp");
}

.wait .main__content h2 {
  color: #fff615;
  text-align: center;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
  font-size: clamp(24px, 5vw, 40px);
  line-height: normal;
}

.wait .main__content .text {
  margin-top: auto;
}

.wait .main__content .text {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 5vw, 42px);
}

.wait .main__content .text__banner {
  display: flex;
  flex-direction: column;
  padding: clamp(20px, 5vw, 32px) clamp(20px, 5vw, 30px) clamp(16px, 5vw, 30px);
  border-radius: clamp(16px, 5vw, 42px);
  border: 1px solid #b07083;
  background: #fff2dc;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25), 0px 2px 1px 0px #fff inset,
    0px -6px 2px 0px #eda8ab inset;
}

.wait .main__content .text__banner p {
  color: #944d2a;
  text-align: center;
  font-size: clamp(18px, 5vw, 30px);
  line-height: 1;
}

.wait .main__content .text__banner .btn {
  align-self: center;
  margin-top: clamp(12px, 5vw, 26px);
  padding: clamp(8px, 5vw, 12px) clamp(20px, 5vw, 30px);
}

.wait .main__content .text > p {
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.4);
  font-size: clamp(20px, 5vw, 32px);
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .wait .main__content .text > p {
    font-size: 26px;
  }
}
